<h2>
    @if (transactionToEdit) {
        Edit Transaction
    } @else {
        Add Transaction
    }
</h2>

<form 
    class="transaction-form"
    #transactionForm="ngForm" 
    (ngSubmit)="addTransaction(transactionForm)">
    
    <div class="form-grid">
        <label>
            Title 
            <input
                type="text"
                name="title"
                required
                #titleInput="ngModel"
                [(ngModel)]="title"
            />
        </label>

        @if (titleInput.invalid && titleInput.touched){
            <p class="error">Title is required.</p>
        }

        <label>
            Amount 
            <input
                type="number"
                name="amount"
                min="0.01"
                #amountInput="ngModel"
                [(ngModel)]="amount"
            />
        </label>

        @if (amountInput.invalid && amountInput.touched){
            <p class="error">Amount must be greater than 0.</p>
        }

        <label>
            Type 
            <select
                name="type"
                required
                [(ngModel)]="type"
            >
                <option value="expense">Expense</option>
                <option value="income">Income</option>
            </select>
        </label>

        <label>
            Category 
            <select
                name="category"
                required
                #categoryInput="ngModel"
                [(ngModel)]="category"
            >
                @for (categoryOption of categories; track categoryOption){
                    <option [value]="categoryOption">{{ categoryOption }}</option>
                }
            </select>
        </label>



        <label>
            Date 
            <input
                type="date"
                name="date"
                required
                #dateInput="ngModel"
                [(ngModel)]="date"
            />
        </label>

        @if (dateInput.invalid && dateInput.touched){
            <p class="error">Date is required</p>
        }
    </div>

    <button type="submit" 
            [disabled]="transactionForm.invalid"
            >
        @if (transactionToEdit) {
            Save Changes
        } @else {
            Add Transaction
        }
    </button>

    @if (transactionToEdit) {
        <button type="button" (click)="cancelEdit(transactionForm)">
            Cancel
        </button>
    }
</form>
